<h1>app works!</h1>
<nav>
    <a routerLink="/home" routerLinkActive="active">Home</a><br />
    <a routerLink="/about" routerLinkActive="active">About</a><br />
    <a routerLink="/parent" routerLinkActive="active">Parent</a><br />
    <a routerLink="/child" routerLinkActive="active">Child</a><br />
    <a routerLink="/login" routerLinkActive="active">Login</a>
</nav>
<button (click)="triggerParentEvent()">Change detection in Child</button>
<app-home [inputProperty]="inputProperty" (childEvent)="handleChildEvent()">
    <div #mycontent>This content will be projected</div>
</app-home>
<div class="container">
    <p>Event triggered in child cause change detection in parent : <strong>{{ eventReceived }}</strong></p>
    <p appHighlight="">
        This text will have a new yellow background.
    </p>

    <h2>bypassSecurityTrustUrl</h2>
    <a class="e2e-trusted-url" [href]="trustedUrl">Click me</a>

    <h2>bypassSecurityTrustResourceUrl</h2>
    <iframe [src]="trustedResourceUrl"></iframe>

    <h2>bypassSecurityTrustHtml</h2>
    <p style="border:solid" [innerHtml]="trustedHtml"></p>

    <h2>bypassSecurityTrustScript</h2>
    <script [innerHtml]="trustedScript"></script>

    <h2>bypassSecurityTrustStyle</h2>
    <input type="password" name="pwd" value="01234" [style]="trustedStyle">

    <h2>HTML Injection</h2>
    <div [innerHTML]="htmlInjection"></div>

    <h2>Template Injection</h2>
    {{ _userInput }}

    <h2>Sanitize Pipes</h2>
    <div [innerHtml]="htmlSnippet | sanitize: 'html'"></div>
    <video width="50%" controls [src]="videoURL | sanitize: 'resourceUrl'"></video>
</div>
<router-outlet></router-outlet>